.sendForm { 
    padding: 15px 15px;
    margin: 8px 10px;
    position: relative;

}

.textarea {
    width: 80%;
    padding: 15px 15px;
    text-align:justify;
    border-radius: 10px;
}

.button {
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px;
    color: white;
    border: none;
    background-color: #255aeb;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button:hover {
    cursor: pointer;
}

.button:active {

}
